/* =============
    Header
============= */
header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: fixed;
    width: 100%;
    z-index: 500;
    background-color: $white;
    // padding: 10px;

    // nav {
    //     i {
    //         font-size: rem-calc(30);
    //         margin-top: 8px;
    //     }
    // }

    section{
      padding: 0 10px;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: rem-calc(20);
    }

    aside {
        text-align: right;
        padding: 10px;

        a:link,
        a:visited {
            background-color: $sunflower;
            border-radius: rem-calc(23);
            color: $black;
            display: inline-block;
            font-size: rem-calc(18);
            font-weight: 700;
            padding: 13px 25px;
        }

        a:active,
        a:hover {
            background-color: $sunflower;
            color: $white;
        }
    }
}
